*{
    font-family: 'Black Han Sans', sans-serif;
}


.sec1{
    background-image: url("/adWepApp_2/images/Cloud.png");
    background-size: 100% auto;
    background-color: #f24a1f;
    background-repeat: no-repeat;
    font-family: 'Jua', sans-serif;
    font-weight: 800;

    &::after{
        content: "";
        width:100%;
        background-image: url("/adWepApp_2/images/humanGroup.png");
        background-size:100%;
        background-repeat: no-repeat;
        background-position:center top;
        position: absolute;
        padding-top: 27%;
        bottom: 0;
        
    }
    .MainContent{
        width:80%;
    }
    .eventPeriod{
        font-size: small;
        opacity: 0.5;
    }
}

.sec2{
  
    
    // #test-code-1 li:nth-child(2n) {color:green}
    .swtitle span{
        font-size: 2rem;
        @media(max-width:775px){
            font-size:1.4rem;
        }
    }
    .swtitle > span:nth-child(2n){
        color: #f24a1f;
    }
    .swsubject{
        color: gray;
    }
    .imgtag{
        display:block;
        top:0;
        left:0;
        background-color: gray;
        opacity: 0.8;
    }
    .swline1{
        color: gray;
        font-size: 0.6rem;
        justify-content: space-between;
    }
    .maincontent2{
        .swline1{
            color: gray;
            font-size: 0.6rem;
            justify-content: space-between;
            .page{
                bottom: unset;
                width: unset;
            }
        }      
    }
    .swline2{
        font-size: 1.5rem;
        @media(max-width:775px){
            font-size: 0.9rem;
        }
     
    }
    .swline3{
        color: #f24a1f;
        font-size: 2rem;
        text-align-last:justify;
        @media(max-width:775px){
            font-size: 1rem;
        }
    }
    .SWleftbutton{
        color: black;
    }
    .SWrightbutton{
        color: black;
    }
}

.sec3{
    background-color: #fff9ed;
   

    .eventsubject{
        font-size: 2rem;

        @media(max-width:450px){
            font-size: 1.8rem;
        }

        &::before{
            content: "";
            background-image: url("/adWepApp_2/images/Heart.png");
            content: "";
            background-repeat: no-repeat;
            padding-top: 5%;
            background-size: 100% auto;
            padding-right: 5%;
            position: absolute;
            transform: translate(-80%, -65%);
        }
    }
    .eventsubject > span{
        color: #fe4e1b;
    }
    .eventtext{
        font-size: 0.5rem;
        color: gray;
    }
    .couponbox{

        .coupon_leftin{
            .coupon_line_2{
                font-size: 4rem;
                line-height: 1;
            }
            .coupon_line_3{
                font-size: 0.9rem;
                opacity: 0.5;
            }
        }
        .coupon_rightin{
            background-color: #ff8106;
            .coupon_rightin_text{
                white-space: pre-line;
                opacity: 0.5;
            }
            
           
        }
    }
}
.footer{
    background-color: #fff700;

}




// #ff8106